<h1>Showing Comments</h1>
<div class="jumbotron">
    <h4>Comments</h4>

    <div ng-repeat="eachComment in commentVm.comments">
        <p>{{eachComment.author}}</p>
        <p>{{eachComment.comment}}</p>
    </div>
    <div class="form-group" ng-submit="commentVm.addComment()">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="commentVm.newComment"></textarea>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>

    <h6><a ng-href="#/movies" class="btn btn-info btn-xs">Back to movies</a></h6>
</div>