<div class="jumbotron">
    <h6><a ng-href="#/movies" class="btn btn-info btn-xs">Back to movies</a></h6>
    <div class="well well-lg">
        <div class="media">
            <div class="media-left">
                <a ng-href="{{movieDetailsVm.movie.poster}}">
                    <img class="media-object" ng-src="{{movieDetailsVm.movie.poster}}" style="width: 300px; height: 300px">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{movieDetailsVm.movie.name}} <small>{{movieDetailsVm.movie.type}}</small></h2>
                <span ng-repeat="genre in movieDetailsVm.movie.genre">{{genre}} </span>
                <p>{{movieDetailsVm.movie.plot}}</p>
            </div>
        </div>
    </div>

    <div class="well well-lg review">
        <h3>Reviews</h3>
        <span>
            <a ng-if= "movieDetailsVm.profile.app_metadata.admin" ng-href="#/addreview/{{movieDetailsVm.movie.movieId}}" class="btn btn-info btn-sm" >Add</a>
            <a ng-if= "movieDetailsVm.profile.app_metadata.admin" ng-href="#/addreview" class="btn btn-info btn-sm">Edit</a>
        </span>
        <p>Awards: {{movieDetailsVm.review.awards}}</p>
        <p>IMBD Rating: {{movieDetailsVm.review.imdbRating}}</p>
        <p>IMDB Votes: {{movieDetailsVm.review.imdbVotes | number}}</p>
        <p ng-if="movieDetailsVm.review.imdbMetaScore">IMDB MetaScore{{movieDetailsVm.review.imdbMetaScore}}</p>
    </div>

    <div class="well well-lg">
        <h3>Comments</h3>
        <div ng-repeat="commentObj in movieDetailsVm.comments">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{commentObj.author}} <span class="glyphicon glyphicon-trash btn trashButton" ng-click="movieDetailsVm.deleteComment(commentObj.commentId)"></span></h3>
                </div>
                <div class="panel-body">
                    <p>{{commentObj.comment}}</p>
                </div>
            </div>
        </div>
        <div>
            <form role="form" ng-submit="movieDetailsVm.addComment()">
                <textarea class="form-control commentArea" rows="3" ng-model="movieDetailsVm.newComment.comment" placeholder="Comment Here...."></textarea>
                <button class="btn btn-info btn-sm" type="submit" style="float: right" >Comment</button>
            </form>
        </div>
    </div>
</div>