<div class="container">
    <div class="jumbotron">
        <input class="form-control " type="text" placeholder="Search" ng-model="movieVm.searchText">
        <h3>New Movies List</h3>
        <div ng-repeat="movie in movieVm.movies | filter: movieVm.searchText">
            <div class="row">
                <div class="col-sm-6 col-md-4 ">
                    <div class="thumbnail">
                        <img ng-src="{{movie.poster}}">
                        <div class="caption">
                            <h3>{{movie.name}}</h3>
                            <div ng-repeat="genre in movie.genre">
                                <span>{{genre}}</span>
                            </div>
                            <p><a ng-href="#/details/{{movie.movieId}}" class="btn btn-info btn-sm" role="button">More Info</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>