<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                <img src="images/MB-logo.png" alt="Brand">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li uib-dropdown is-open="false" auto-close dropdown-append-to-body>
                <a uib-dropdown-toggle ng-if="toolbarVm.auth.isAuthenticated">Browse<span class="caret"></span></a>
                <ul uib-dropdown-menu>
                    <li><a ng-href="#/movies">Movies</a> </li>
                    <li><a ng-href="#/topRated">Top Rated</a> </li>
                    <li><a ng-href="#/latest">Latest</a> </li>
                </ul>
            </li>
            <li><a href="#signup" ng-if="toolbarVm.auth.isAuthenticated">Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="toolbarVm.login()" ng-if="!toolbarVm.auth.isAuthenticated">Login</a></li>
            <li><a href="#" ng-if="!toolbarVm.auth.isAuthenticated">Register</a></li>
            <li uib-dropdown ng-if="toolbarVm.auth.isAuthenticated">
                <a uib-dropdown-toggle><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                <ul uib-dropdown-menu>
                    <li><a ng-href="#/profile">Profile</a> </li>
                    <li><a ng-href="#/settings">Settings</a> </li>
                    <li><a ng-click="toolbarVm.logout()">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>