<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieBuff | Home</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/home_style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <header class="page-header">MovieBUFF
        <span> <a class="btn btn-info btn-sm">Register</a> </span>
        <span class="seperator">|</span>
        <span> <a class="btn btn-info btn-sm">Login</a> </span>
    </header>
    <section class="login">
            <form method="post" action="#">
                <div class="some">
                <p>User Name : <input type="text" name="userName" placeholder="User Name"></p>
                <p>Password  : <input type="password" name="password" placeholder="Password"></p>
                <p> <a class="btn btn-default btn-sm">Submit</a></p>
                </div>
            </form>
    </section>

    <footer>

    </footer>
    </div>
</body>
</html>