<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieBuff | Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/index-style.css" type="text/css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MovieBuff</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#login" data-toggle="modal">Login</a></li>
                    <li><a href="#signup" data-toggle="modal">SignUp</a></li>
                </ul>
            </div>
        </nav>
        <section>
        <div class="jumbotron jumbotron-carousel col-sm-12 col-xs-12">
            <div id="movieCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#movieCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#movieCarousel" data-slide-to="1"></li>
                    <li data-target="#movieCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div  class="item active">
                        <div class="slide1">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg">
                            <div class="carousel-caption">
                                <h3>Avengers: Age of Ultron</h3>
                                <p>Genre: Action | Adventure | Sci-Fi</p>
                            </div>
                        </div>
                    </div>

                    <div  class="item">
                        <div class="slide2">
                            <img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg">
                            <div class="carousel-caption">
                                <h3>The Shawshank Redemption</h3>
                                <p>Genre: Crime | Drama</p>
                            </div>
                        </div>
                    </div>
                    <div  class="item">
                        <img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg">
                        <div class="carousel-caption">
                            <h3>Batman Begins</h3>
                            <p>Genre: Action | Adventure</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel control" href="#movieCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                <a class="right carousel control" href="#movieCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
        </div>
        </section>
    <footer>

    </footer>
    <div class="modal fade" id="login" role="dialog" style="top 0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Login Form</p>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="usr">User Name:</label>
                            <input type="text" class="form-control" id="usr">

                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Login</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="signup" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title">SignUp Form</p>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                        <div class="form-group">
                        <label for="first">First Name:</label>
                        <input type="text" class="form-control" id="first">
                        </div>
                        <div class="form-group">
                        <label for="last">Last Name:</label>
                        <input type="text" class="form-control" id="last">
                        </div>
                        <div class="form-group has-error has-feedback">
                        <label for="email">Email Address:</label>
                        <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="text" class="form-control" id="password">
                        </div>
                        <div class="form-group">

                        </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Register</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>