<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/user-style.css" type="text/css">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MovieBuff</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Top Rated</a> </li>
                            <li><a href="#">Latest</a> </li>
                            <li><a href="#">Genre</a> </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout<span class="glyphicon glyphicon-log-out"> </span></a></li>
                </ul>

            </div>
        </nav>
            <section class="jumbotron col-lg-12">
                <div class="row">
                    <div class="movie col-lg-3">
                        <p>Some movie</p>
                    </div>
                    <div class="movie col-lg-3">
                        <p>Some movie</p>
                    </div>
                    <div class="movie col-lg-3">
                        <p>Some movie</p>
                    </div>
                </div>
            </section>












    </div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>