body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.movieThumbnail{
    float: left;
}

.jumbotron{
    background-color: #222222;
    color: white;
    position: relative;
}

.jumbotron .well{
    color: black;
    position: relative;
}

img{
    width: 200px;
    height: 100px;
}

.thumbnail{
    height: 510px;
}

p{
    font-size: 12px;
}

.form-control{
    width:35%;
    height: 40px;
    padding: 8px 15px;
    margin: 0px;
}

.editMovie .form-control, .addMovie .form-control{
    width: 85%;
}

button, textarea, input{
    margin: -40px;
    margin-right: 1em;
}

.commentArea {
    width: 55%;
}

textarea{
    overflow: auto;
}

.jumbotron p{
    font-size: 15px;
    margin-bottom: 15px;
    /*position: relative;*/
}

.addMovieBTN{
    position: absolute;
    top: 49px;
    right: 100px;
    width: 8%;
    height: 40px;
    padding: 10px;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: middle;
}

.media-body{
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 355px;*/
}

.navbar-brand img{
    width: 60px;
    height: 60px;
    margin-top: -20px;
    margin-left: 0px;
}

.trashButton{
    top: -7px;
    float: right;
    margin-right: auto;
}

.review img{
    width: 60px;
    height: 30px;
}

.caption .genre{
    position: absolute;
    bottom: 85px;

}

.addintinalInfo{
    display: inline-block;
    position: absolute;
    bottom: 35px;
}

.backBtn{
    position: absolute;
    top:15px;
    left: 10px;
}

.addMovieButton, .updateMovieButton{
    position: absolute;
    left: 125px;
    bottom: 0px;
}

.rating label{
    position: absolute;
    bottom: 81px;
    right: 365px;
}

.ratingSelect{
    width: 5%;
    position: absolute;
    bottom: 62px;
    right: 300px;
}