body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.movieThumbnail{
    float: left;
}

.jumbotron{
    background-color: #222222;
    color: white;
}

.jumbotron .well{
    color: black;
}

img{
    width: 200px;
    height: 100px;
}

.thumbnail{
    height: 510px;
}

p{
    font-size: 12px;
}

.form-control{
    width:35%;
    height: 40px;
    padding: 8px 15px;
    margin: 0px;
}

.editMovie .form-control{
    width: 85%;
}

button, textarea, input{
    margin: -40px;
    margin-right: 1em;
}

.commentArea {
    width: 55%;
}

textarea{
    overflow: auto;
}

.jumbotron p{
    font-size: 15px;
    margin-bottom: 15px;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: middle;
}

.navbar-brand img{
    width: 60px;
    height: 60px;
    margin-top: -25px;
    margin-left: 0px;
}

.trashButton{
    top: -7px;
    float: right;
    margin-right: auto;
}